.logoutContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;

}

.logoutButton {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: .2s;
    border-radius: 10px;
    background-color: #e00202;
    color: white;
}

.logoutButton:hover {
    background-color: #a00000;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.loading {
    font-size: 50px;
    color: #4D4DFB;
}

.loadingMessage {
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: #4D4DFB;
}

.error {
    font-size: 50px;
    color: #e00202;
}


.heading {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    text-transform: uppercase;
    color: #4D4DFB;
}

.form {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;

}

.input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border: 0;
    outline: none;
    width: 100%;
    max-width: 400px;
    transition: padding 0.3s 0.2s ease;
}

.input:focus {
    padding-bottom: 5px;
}

.input:focus + .line:after {
    transform: scaleX(1);
}

.field {
    position: relative;
}

.field .line {
    width: 102%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    background: #bdc3c7;
}

.field .line:after {
    content: " ";
    position: absolute;
    float: right;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background: #4D4DFB;
}

.button {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .2s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #4D4DFB;
    color: white;
}

.button:hover {
    background-color: #0000b9;
}

.container {
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.dataTable {
    width: min-content;
    border-collapse: collapse;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
}

.tableContainer {
    max-height: 580px;
    max-width: 1670px;
    overflow-y: auto;
    border: 1px solid #ddd;
    overflow-x: hidden;
}

.tableContainer table {
    border-collapse: collapse;
}

.tableContainer th, .tableContainer td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tableContainer thead th {
    position: sticky;
    top: 0;
    background-color: #f7f7f7; /* Colore di sfondo per l'intestazione */
    z-index: 1; /* Mantiene l'intestazione sopra le righe della tabella */
}


.dataTable th,
.dataTable td {
    padding: 8px;
    height: 80px;
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;

}

.dataTable th {
    background-color: #f2f2f2;
    text-align: center;
}

.dataTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Colorazione alternata delle righe */
}

.dataTable tbody tr:hover {
    background-color: #f1f1f1; /* Colore di sfondo al passaggio del mouse */
}

@media (max-width: 768px) {
    .dataTable {
        font-size: 14px; /* Riduci la dimensione del testo su dispositivi più piccoli */
    }
}
